<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<settings>
	<setting name="jdbcTypeForNull" value="NULL"/>
</settings>
<typeAliases>
<typeAlias type="com.yj.project.common.StringArrayTypeHandler" alias="StringArray"/>
<typeAlias type="com.yj.project.board.model.vo.Board" alias="Board"/>


<typeAlias type="com.yj.project.notice.model.vo.Notice" alias="Notice"/>

<typeAlias type="com.yj.project.search.model.vo.Circle" alias="circle"/>
<typeAlias type="com.yj.project.search.model.vo.Like" alias="like_tab" /> 

<typeAlias type="com.yj.project.member.model.vo.Member" alias="Member"/>
<typeAlias type="com.yj.project.club.model.vo.Club" alias="Club"/>
<typeAlias type="com.yj.project.club.model.vo.Budget" alias="budget"/>
<typeAlias type="com.yj.project.club.model.vo.Circle_board" alias="cBoard"/>
<typeAlias type="com.yj.project.club.model.vo.CB_Comment" alias="cb_comment"/>
<typeAlias type="com.yj.project.club.model.vo.InnerLike" alias="innerlike"/>
<typeAlias type="com.yj.project.message.model.vo.Message" alias="message"/>
</typeAliases>


</configuration>
